body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	overflow: hidden;
	background: rgb(2, 0, 36);
	background: linear-gradient(180deg, #020024 25%, #1c2777 85%);
	position: relative;
}

// Moon
.moon {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #d0d88d;
	left: 100px;
	top: 50px;
	position: absolute;
	transform: rotate(-35deg);

	// Part of moon is displayed using after selector
	&::after {
		content: " ";
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background-color: #020024;
		left: 39%;
		position: absolute;
	}
}

// Moon
.moon-reflection {
	width: 200px;
	height: 100px;
	border-radius: 50%;
	background-color: #d0d88d;
	left: 250px;
	top: 50px;
	position: absolute;
	transform: rotate(-35deg);
}

// Sea
#sea {
	filter: url("#turbulence");
	background-color: #afb77067;
	height: 40vh;
	width: 100vw;
	position: absolute;
	bottom: 0;
}
